# 1.Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\momo\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\momo\anaconda3\lib\site-packages (from bs4) (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\momo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.5)
Requirement already satisfied: requests in c:\users\momo\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\momo\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\momo\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\momo\anaconda3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\momo\anaconda3\lib\site-packages (from requests) (2019.11.28)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [4]:
soup = BeautifulSoup(page.content, "html.parser")

In [5]:
#print(soup.prettify())

In [6]:
headers = soup.find_all(['h1','h2','h3','h4','h5','h6'])

In [7]:
print('List all the header tags :',headers, sep='\n')

List all the header tags :
[<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3 id="p-personal-label">
<span>Personal tools</span>
</h3>, <h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>, <h3 id="p-variants-label">
<span>Variants</span>
</h3>, <h3 id="p-views-label">
<span>Views</span>
</h3>, <h3 id="p-cactions-label">
<span>More</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 id="p-navigation-label">
<span>Navigation</span>
</h3>, <h3 id="p-interaction-label">
<span>Contribute</span>
</h3>, <h3 id="p-tb-label">
<span>Tools</span>
</h3>, <h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>, <h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>, <h3 id="p-lang-label">
<span>Languages</span>
</h3>]

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e.          Name, IMDB rating, Year of Release)

In [8]:
page1 = requests.get("https://www.imdb.com/list/ls091520106/")

In [9]:
bc = BeautifulSoup(page1.content, "html.parser")

In [10]:
#print(bc.prettify())

In [11]:
Name =[]
IMDB_Rating = []
Year_of_Release = []

In [12]:
movie_div = bc.find_all('div', class_='lister-item-content')

In [13]:
for i in movie_div:
        name = i.h3.a.text
        Name.append(name) 
        
        
        year = i.h3.find('span', class_='lister-item-year').text
        Year_of_Release.append(year)

In [14]:
rating = bc.find_all('div',class_="ipl-rating-star small")

In [15]:
for j in rating:
    x = j.find('span',class_='ipl-rating-star__rating')
    IMDB_Rating.append(x)

In [16]:
import pandas as pd
movie = pd.DataFrame({})
movie['Name'] = Name[:100]
movie['Rating'] = IMDB_Rating[:100]
movie['Release_Year'] = Year_of_Release[:100]

In [17]:
movie.head()

                       Name Rating Release_Year
0  The Shawshank Redemption  [9.3]       (1994)
1             The Godfather  [9.2]       (1972)
2    The Godfather: Part II    [9]       (1974)
3           The Dark Knight    [9]       (2008)
4              12 Angry Men    [9]       (1957)

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’              data (i.e. Name, IMDB rating, Year of release)

In [18]:
page2 = requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')

In [19]:
soup1 = BeautifulSoup(page2.content, "html.parser")

In [20]:
#print(soup1.prettify())

In [21]:
Name =[]
IMDB_Rating = []
Year_of_Release = []

In [22]:
movie_div = soup1.find_all('div', class_='lister-item-content')

In [23]:
for x in movie_div:
        name = x.h3.a.text
        Name.append(name) 
        
        
        year = x.h3.find('span', class_='lister-item-year').text
        Year_of_Release.append(year)

In [24]:
rating = soup1.find_all('div',class_="ipl-rating-star small")

In [25]:
for j in rating:
    r = j.find('span',class_='ipl-rating-star__rating')
    IMDB_Rating.append(r)

In [26]:
Hindi_movie = pd.DataFrame({})
Hindi_movie['Name'] = Name[:100]
Hindi_movie['Rating'] = IMDB_Rating[:100]
Hindi_movie['Release_Year'] = Year_of_Release[:100]

In [27]:
Hindi_movie.head()

               Name Rating Release_Year
0          Gol Maal  [8.6]       (1979)
1      Black Friday  [8.5]       (2004)
2            Pyaasa  [8.5]       (1957)
3          3 Idiots  [8.4]       (2009)
4  Taare Zameen Par  [8.4]       (2007)

# 4. Write a python program to scrap book name, author name, genre and book        review of any 5 books

In [28]:
book1 = requests.get('https://bookpage.com/reviews/25867-dantiel-w-moniz-milk-blood-heat-fiction#.YBjXbugzY2w')

In [29]:
soup = BeautifulSoup(book1.content, "html.parser")

In [30]:
#print(soup.prettify())

In [31]:
Book_Name = soup.find_all('h1',class_="italic")
for i in Book_Name:
    Book_Name = i.get_text()
    print("BOOK NAME: ",Book_Name)
Author_Name = soup.find_all('h4',class_="sans")
for i in Author_Name:
    Author_Name = i.get_text()
    print("AUTHOR NAME: ",Author_Name)
Book_Review = soup.find_all('div',class_="article-body")
for i in Book_Review:
    Book_Review = i.get_text()
    print("REVIEW : ",Book_Review)
Genre = soup.find_all('p',class_="genre-links")
for i in Genre:
    Genre = i.a.text
    print("GENRE: ", Genre)

BOOK NAME:
★ Milk Blood Heat

AUTHOR NAME:
Dantiel W. Moniz

REVIEW :

Often the most powerful elements of fiction are the emotional truths mined from the most difficult experiences. Whether a story is grounded in the most mundane of daily occurrences or rooted in something much more uncanny, it will always feel true in the hands of a storyteller who understands the often unsettling rhythms of the mind and heart.
Milk Blood Heat, the debut collection of fiction from Dantiel W. Moniz, is thoroughly tethered to this kind of emotional truth. Throughout 11 short stories—all set in Florida, all focusing on transformative experiences in the lives of women—Moniz weaves tales that are as profound as they are unnerving, as moving as they are surprising.
Each of the stories in this collection is anchored by Moniz’s gorgeous, precise prose, whether he’s portraying a pair of best friends shaken by tragedy in the title story, a woman seeing spectral images of her lost baby in “Feast” or a girl coming to terms with the power of generational connection in “An Almanac of Bones.” Though they share certain geographic and thematic connections, the tales are quite diverse in their perspectives and casts. What unites them, and what keeps us turning the pages through scenes of tragedy and self-­discovery, rebellion and reconciliation, trauma and agency, is the singular voice guiding each character. In nearly every paragraph, Moniz unfurls some new observation that nestles down in your brain and sits, steeping like tea leaves, until each story has formed a cohesive, powerful emotional experience. It’s a magical sensation that reveals astonishing talent.
Milk Blood Heat is a slim but mighty volume of short fiction, one that announces Moniz as a transfixing voice capable of limning often staggering emotional truths.


GENRE:  Fiction

BOOK 2:

In [32]:
book2 = requests.get('https://bookpage.com/reviews/25833-lauren-oyler-fake-accounts-fiction#.YBje4-gzY2w')

In [33]:
soup1 = BeautifulSoup(book2.content, "html.parser")

In [34]:
#print(soup1.prettify())

In [35]:
Book2_Name = soup1.find_all('h1',class_="italic")
for i in Book2_Name:
    Book2_Name = i.get_text()
    print("BOOK NAME: ",Book2_Name)
Author2_Name = soup1.find_all('h4',class_="sans")
for i in Author2_Name:
    Author2_Name = i.get_text()
    print("AUTHOR NAME: ",Author2_Name)
Book2_Review = soup1.find_all('div',class_="article-body")
for i in Book2_Review:
    Book2_Review = i.get_text()
    print("REVIEW: ",Book2_Review)
Genre2 = soup1.find_all('p',class_="genre-links")
for i in Genre2:
    Genre2 = i.a.text
    print("GENRE: ",Genre2)

BOOK NAME:
Fake Accounts

AUTHOR NAME:
Lauren Oyler

REVIEW:

Most of us accept that much of what we read, watch or see online is untrue. It’s generally understood that these deceptions are fundamentally “bad”—morally wrong, politically manipulative and/or personally harmful. Yet in Fake Accounts, a young woman who is well aware that deception is bad nevertheless seems to thrive on it.
The premise of Fake Accounts is that the narrator snoops on her boyfriend Felix’s phone and learns that he’s a popular anonymous conspiracy theorist, but he’s actually the least interesting part of the story. Emboldened by Felix’s online fakery, the narrator decides that she, too, will create a fake life for herself. She moves to Berlin and lies about her identity to her roommate, her employer and a rotation of OkCupid dates. And in the grand tradition of unreliable narrators, the reader must wonder if the narrator is lying to us as well.
Plenty of fiction and nonfiction explores how performance of the self on social media can be detrimental to our lives. Fake Accounts raises the bar on this theme, prompting the question of how much distance a person can really put between oneself and an online persona. The narrator believes she is not motivated by nefarious means. She’s not a con artist; she seems to have nothing to gain except her own amusement. What she tells herself is that her fakery is an experiment in self-presentation.
Contrary to the widely accepted belief that the internet brings people together, first-time novelist Lauren Oyler homes in on the alienation that arises when we mediate our presentations of ourselves through technology. Can relationships based on lies foster genuine connection? Is “genuine connection” even the goal anymore in the 21st-century attention economy? The answers you arrive at while reading the wild literary ride that is Fake Accounts may make you uncomfortable.


GENRE:  Fiction

BOOK 3:

In [36]:
book3 = requests.get('https://bookpage.com/reviews/25934-joanna-schaffhausen-every-waking-hour-mystery-suspense#.YBjk9ugzY2w')

In [37]:
soup2 = BeautifulSoup(book3.content, "html.parser")

In [38]:
#print(soup2.prettify())

In [39]:
Book3_Name = soup2.find_all('h1',class_="italic")
for i in Book3_Name:
    Book3_Name = i.get_text()
    print("BOOK NAME: ",Book3_Name)
Author3_Name = soup2.find_all('h4',class_="sans")
for i in Author3_Name:
    Author3_Name = i.get_text()
    print("AUTHOR NAME: ",Author3_Name)
Book3_Review = soup2.find_all('div',class_="article-body")
for i in Book3_Review:
    Book3_Review = i.get_text()
    print("REVIEW: ",Book3_Review)
Genre3 = soup2.find_all('p',class_="genre-links")
for i in Genre3:
    Genre3 = i.a.text
    print("GENRE: ",Genre3)

BOOK NAME:
★ Every Waking Hour

AUTHOR NAME:
Joanna Schaffhausen

REVIEW:

When rookie Boston police detective Ellery Hathaway and FBI profiler Reed Markham see missing 12-year-old Chloe Lockhart’s cellphone lying in a trash can at the edge of Boston Common, they know she’s been kidnapped. It was highly unlikely she could had simply given her nanny the slip, and what tween would abandon their phone? With this new certainty, a busy street carnival on a sunny day becomes a crime scene and Joanna Schaffhausen’s Every Waking Hour begins.
Chloe’s wealthy, busy parents (Teresa, a surgeon, and Martin, a financier) are delirious with worry. They kept her under strict surveillance and are terrified as well as confounded that their efforts were all for naught. Their hypervigilance stems from residual trauma: Twenty years ago, Teresa’s young son from her first marriage was murdered alongside their housekeeper, and the killer has not yet been caught.
Ellery can relate to this maelstrom of emotions more than most. She was kidnapped and tortured by a serial killer at age 14, and Reed was the young agent who rescued her. After reuniting many years after Ellery’s horrific experience, Reed and Ellery began dating, and they struggle to find equilibrium as romantic partners and workmates. Reed’s ex-wife ensures their co-parenting is contentious, Ellery has been diagnosed with PTSD, and Chloe’s case is reopening old psychic wounds even as the duo rush to find the girl before her captor completely unravels.
While Chloe’s disappearance kicks off the race-against-time detective work that propels the book—Schaffhausen is skilled at building delicious and inexorable tension—the relationships that are affected by her kidnapping give the book a special resonance. Trauma underpins so many of the characters’ reactions and decisions in Every Waking Hour, and Schaffhausen addresses it with fascinating detail and great empathy, drawing on her background in neuroscience and Ph.D. in psychology.
It all makes for a compelling countdown to a surprising resolution (several of them, really—there are numerous intriguing threads for reader-sleuths to follow). This book is the fourth Ellery Hathaway title, and the gasp-inducing goings-on in its final pages are sure to prime fans for yet another skillfully crafted, suspenseful installment.


GENRE:  Mystery & Suspense

BOOK 4:

In [40]:
book4 = requests.get('https://bookpage.com/reviews/25932-harper-st-george-heiress-gets-duke-romance#.YBjmZ-gzY2w')

In [41]:
soup3 = BeautifulSoup(book4.content,'html.parser')

In [42]:
#print(soup3.prettify())

In [43]:
Book4_Name = soup3.find_all('h1',class_="italic")
for i in Book4_Name:
    Book4_Name = i.get_text()
    print("BOOK NAME: ",Book4_Name)
Author4_Name = soup3.find_all('h4',class_="sans")
for i in Author4_Name:
    Author4_Name = i.get_text()
    print("AUTHOR NAME: ",Author4_Name)
Book4_Review = soup3.find_all('div',class_="article-body")
for i in Book4_Review:
    Book4_Review = i.get_text()
    print("REVIEW: ",Book4_Review)
Genre4 = soup3.find_all('p',class_="genre-links")
for i in Genre4:
    Genre4 = i.a.text
    print("GENRE: ",Genre4)

BOOK NAME:
★ The Heiress Gets a Duke

AUTHOR NAME:
Harper St. George

REVIEW:

Sparks fly between an American woman and a charming British aristocrat when they’re thrown together by their parents’ plan for an advantageous marriage in Harper St. George’s The Heiress Gets a Duke.
August Crenshaw has seen the way marriages of convenience have run roughshod over her close friends, hurting them mentally, emotionally and even physically. She finds passion in numbers, risk assessment and her family’s iron works company. A husband would undoubtedly detail her career ambitions. She vows to never offer herself up as her family’s sacrifice, but worries that her parents’ restraint from using their daughters as pawns is coming to an end.
Evan Sterling, Duke of Rothschild, becomes the manager of the Rothschild estate after a series of devastating tragedies. His staid older brother dies suddenly, followed by his father, and the family’s financial situation is revealed to be truly dire. Evan and his mother realize that the quickest way to gain a fortune, especially as Evan’s twin sisters are set to debut the following year, is to marry. An American heiress will bring new money and steady income. Meanwhile, marrying a duke lends a sense of social capital to those who feel like longstanding institutions have been closed to them.
At first, it isn’t August on the chopping block, but her sweet younger sister, Violet, despite Violet having her own aspirations of becoming a writer and the interest of a man back in America. To protect her sister, August volunteers to take her place, much to the surprise and uncertainty of the meddling parents.
Wry, tenacious August isn’t exactly a friendly woman, but she is a memorable and well-crafted heroine. Prickly at best, she’s practical and often blunt with her words as she tries to get her family’s business taken more seriously. By contrast, Evan’s caring relationship with his mother is a cornerstone of his character (and provides some of the book’s best scenes). It’s lovely to see a mutually respectful and close relationship between a historical romance hero and his mother. And as a bonus, Evan moonlights as a prizefighter who fights shirtless and in tight breeches.
The Heiress Gets a Duke stands out from the crowded field of historical romance by combining old and new. St. George clearly has an appreciation for the genre, as the novel is reminiscent of historical classics that longtime romance readers have grown up with, but there are also meta moments of brilliance, as when August remarks on the amount of dukes available in England or the corniness of mysterious nicknames that just seem silly when said aloud.
Fun, tender and definitely sexy, The Heiress Gets a Duke is already at the top of my list for the best books of the year. Don’t sleep on this refreshing and feminist romance.


GENRE:  Romance

BOOK 5:

In [44]:
book5 = requests.get('https://bookpage.com/reviews/25893-rajani-larocca-red-white-whole-childrens#.YBjnjegzY2w')

In [45]:
soup4 = BeautifulSoup(book5.content,'html.parser')

In [46]:
#print(soup4.prettify())

In [47]:
Book5_Name = soup4.find_all('h1',class_="italic")
for i in Book5_Name:
    Book5_Name = i.get_text()
    print("BOOK NAME: ",Book5_Name)
Author5_Name = soup4.find_all('h4',class_="sans")
for i in Author5_Name:
    Author5_Name = i.get_text()
    print("AUTHOR NAME: ",Author5_Name)
Book5_Review = soup4.find_all('div',class_="article-body")
for i in Book5_Review:
    Book5_Review = i.get_text()
    print("REVIEW: ",Book5_Review)
Genre5 = soup4.find_all('p',class_="genre-links")
for i in Genre5:
    Genre5 = i.a.text
    print("GENRE: ",Genre5)

BOOK NAME:
★ Red, White, and Whole

AUTHOR NAME:
Rajani LaRocca

REVIEW:

Reha, an Indian American girl, narrates Rajani LaRocca’s Red, White, and Whole in first-person free verse as she navigates what she describes as “two lives. / One that is Indian, / one that is not.”
It’s 1983 and Reha, an only child, is in middle school. The differences between her two cultures—the American culture she experiences at school and the Indian culture that surrounds her at home—make her feel like she’s being pulled in opposite directions with more force than ever. But Reha adores her parents and doesn’t want to disappoint them. She studies hard and tries not to complain about feeling different. She intends to be a doctor when she grows up, even though she is afraid of blood.
When her mother, Amma, gets sick with leukemia, Reha begins to feel guilty about her secret desire to not be so different from her classmates. She bargains with God and tries to be perfect so that her mother will get better.
The poems in Red, White, and Whole are vibrant and lyrical, clear and smooth. In her first novel in verse, LaRocca (Midsummer’s Mayhem) showcases the best of what verse can do, telling a story that is spare, direct and true, every word and idea placed with intentional care. Reha’s narration shines with honest emotion, and its tenderness calls out to readers and invites them to feel what she feels at every turn.
LaRocca brilliantly incorporates references to 1980s American pop culture and traditional Indian culture. Despite how difficult it is for Reha to feel like she fully belongs anywhere, she is richer because of her access to multiple sources of wisdom and stronger because she has learned to navigate a variety of cultural norms. Reha’s friendship with Rachel, whose Jewish faith plays a similar role in her life, is a smart parallel.
Packed with evocative details of tween life in the ’80s, Red, White, and Whole is a sensitive coming-of-age story with all the makings of a new middle grade classic.


GENRE:  Children's

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:\
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. \
ii) Top 10 ODI Batsmen in men along with the records of their team and rating. \
iii) Top 10 ODI bowlers along with the records of their team and rating.

In [48]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

maindiv = soup.find_all("div", {"class": "rankings-block__container full rankings-table"})
for div in maindiv:
    print(div.text[:450])

Pos

Team
T


Matches
M


Points
P


Rating
R





1


England
ENG

44
5,405

                            123





2


India
IND

52
6,102
117


3


New Zealand
NZ

32
3,716
116


4


Australia
AUS

39
4,344
111


5


South Africa
SA

31
3,345
108


6


Pakistan
PAK

35
3,490
100


7


Bangladesh
BAN

37
3,366
91


8


Sri Lanka
SL

39
3,297
85


9


West Indies
WI

46
3,402
74


10


Afghanistan
AFG

31
1,844
59

In [49]:
url = "https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting"
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

maindiv = soup.find_all("div", {"class":"cb-col cb-col-100 cb-font-14 cb-lst-itm text-center"})
for div in maindiv:
    print(div.text)

 1       –    Kane Williamson NEW ZEALAND   919
 2       1    Steven Smith AUSTRALIA   891
 3       1    Marnus Labuschagne AUSTRALIA   878
 4       2    Virat Kohli INDIA   862
 5       4    Joe Root ENGLAND   823
 6       4    Cheteshwar Pujara INDIA   760
 7       2    Babar Azam PAKISTAN   755
 8       2    Ajinkya Rahane INDIA   748
 9       3    Henry Nicholls NEW ZEALAND   747
 10       2    Ben Stokes ENGLAND   744
 11       4    David Warner AUSTRALIA   724
 12       1    Tom Latham NEW ZEALAND   706
 13       32    Rishabh Pant INDIA   691
 14       6    Dean Elgar SOUTH AFRICA   687
 15       11    Azhar Ali PAKISTAN   675
 16       2    Ross Taylor NEW ZEALAND   669
 17       1    Angelo Mathews SRI LANKA   667
 18       1    Dimuth Karunaratne SRI LANKA   660
 19       4    Rohit Sharma INDIA   660
 20       4    Mushfiqur Rahim BANGLADESH   654
 21       1    Jos Buttler ENGLAND   649
 22       9    Quinton de Kock SOUTH AFRICA   645
 23       1    Aiden Markram SOUTH AFRICA   630
 24       5    Mayank Agarwal INDIA   625
 25       2    Travis Head AUSTRALIA   618
 26       5    Faf du Plessis SOUTH AFRICA   605
 27       2    BJ Watling NEW ZEALAND   604
 28       1    Brendan Taylor ZIMBABWE   599
 29       2    Tamim Iqbal BANGLADESH   597
 30       2    Asad Shafiq PAKISTAN   590
 31       2    Jermaine Blackwood WEST INDIES   590
 32       –    Rory Burns ENGLAND   585
 33       3    Ravindra Jadeja INDIA   578
 34       1    Shakib Al Hasan BANGLADESH   576
 35       12    Mohammad Rizwan PAKISTAN   575
 36       2    Dhananjaya de Silva SRI LANKA   568
 37       1    Colin de Grandhomme NEW ZEALAND   566
 38       5    Jason Holder WEST INDIES   563
 39       2    Usman Khawaja AUSTRALIA   561
 40       1    Niroshan Dickwella SRI LANKA   560
 41       5    Mominul Haque BANGLADESH   556
 42       3    Dinesh Chandimal SRI LANKA   555
 43       1    Tim Paine AUSTRALIA   555
 44       4    Craig Ervine ZIMBABWE   549
 45       15    Kusal Mendis SRI LANKA   535
 46       6    Dominic Sibley ENGLAND   534
 48       1    Tom Blundell NEW ZEALAND   522
 49       7    Shan Masood PAKISTAN   521
 50       1    Ollie Pope ENGLAND   520
 51       3    Shane Dowrich WEST INDIES   516
 52       1    Hanuma Vihari INDIA   515
 53       2    Mahmudullah BANGLADESH   514
 54       2    Joe Denly ENGLAND   510
 56       4    Kusal Perera SRI LANKA   505
 57       7    Matthew Wade AUSTRALIA   501
 58       6    Jonny Bairstow ENGLAND   497
 59       3    Joe Burns AUSTRALIA   497
 60       2    Shimron Hetmyer WEST INDIES   495
 61       4    Temba Bavuma SOUTH AFRICA   490
 62       1    Kraigg Brathwaite WEST INDIES   490
 63       –    Sikandar Raza ZIMBABWE   487
 64       5    KL Rahul INDIA   484
 65       –    Sean Williams ZIMBABWE   480
 66       28    Faheem Ashraf PAKISTAN   471
 67       –    Kyle Jamieson NEW ZEALAND   460
 68       –    Shamarh Brooks WEST INDIES   459
 69       –    Roston Chase WEST INDIES   453
 70       –    Liton Das BANGLADESH   450
 71       –    John Campbell WEST INDIES   448
 72       1    Shai Hope WEST INDIES   445
 73       14    Rassie van der Dussen SOUTH AFRICA   444
 74       8    Abid Ali PAKISTAN   442
 75       1    Jeet Raval NEW ZEALAND   438
 76       14    Oshada Fernando SRI LANKA   425
 77       –    Kevin O Brien IRELAND   423
 78       –    Soumya Sarkar BANGLADESH   421
 79       –    Fawad Alam PAKISTAN   421
 80       8    Haris Sohail PAKISTAN   417
 81       6    Sam Curran ENGLAND   415
 82       3    Darren Bravo WEST INDIES   412
 83       –    Washington Sundar INDIA   403
 84       3    Rahmat Shah AFGHANISTAN   400
 85       3    Asghar Afghan AFGHANISTAN   400
 86       –    Daryl Mitchell NEW ZEALAND   399
 87       7    Chris Woakes ENGLAND   396
 88       11    Lahiru Thirimanne SRI LANKA   382
 89       6    Mitchell Santner NEW ZEALAND   376
 90       5    Ibrahim Zadran AFGHANISTAN   375
 91       7    Mitchell Starc AUSTRALIA   370
 92       1    Ravichandran Ashwin INDIA   370
 94       8    Wriddhiman Saha INDIA   358
 95       7    Imam-ul-Haq PAKISTAN   356
 96       7    Mitchell Marsh AUSTRALIA   356
 97       7    Cameron Bancroft AUSTRALIA   354
 98       6    Moeen Ali ENGLAND   351
 99       6    Prithvi Shaw INDIA   350
 1       –    Virat Kohli INDIA   870
 2       –    Rohit Sharma INDIA   842
 3       –    Babar Azam PAKISTAN   837
 4       –    Ross Taylor NEW ZEALAND   818
 5       –    Aaron Finch AUSTRALIA   791
 6       –    Faf du Plessis SOUTH AFRICA   790
 7       –    David Warner AUSTRALIA   773
 8       –    Kane Williamson NEW ZEALAND   765
 9       –    Quinton de Kock SOUTH AFRICA   755
 10       –    Jonny Bairstow ENGLAND   754
 11       1    Imam-ul-Haq PAKISTAN   748
 12       1    Shai Hope WEST INDIES   739
 13       –    Joe Root ENGLAND   734
 14       –    Martin Guptill NEW ZEALAND   711
 15       2    Mushfiqur Rahim BANGLADESH   710
 16       1    Steven Smith AUSTRALIA   707
 17       1    Shikhar Dhawan INDIA   696
 18       –    Jason Roy ENGLAND   690
 19       –    Fakhar Zaman PAKISTAN   686
 20       –    Glenn Maxwell AUSTRALIA   684
 21       7    Paul Stirling IRELAND   684
 22       1    Tamim Iqbal BANGLADESH   683
 23       2    Usman Khawaja AUSTRALIA   675
 24       –    Shakib Al Hasan BANGLADESH   669
 25       3    Eoin Morgan ENGLAND   668
 26       1    Jos Buttler ENGLAND   655
 27       1    Ben Stokes ENGLAND   654
 28       1    Alex Carey AUSTRALIA   644
 29       2    Shimron Hetmyer WEST INDIES   643
 30       –    David Miller SOUTH AFRICA   626
 31       –    Rassie van der Dussen SOUTH AFRICA   616
 32       1    Haris Sohail PAKISTAN   612
 33       1    Nicholas Pooran WEST INDIES   605
 34       –    KL Rahul INDIA   603
 35       –    Tom Latham NEW ZEALAND   601
 36       –    Angelo Mathews SRI LANKA   588
 37       –    Kyle Coetzer SCOTLAND   588
 38       –    Henry Nicholls NEW ZEALAND   581
 39       –    Aqib Ilyas OMAN   578
 40       1    Brendan Taylor ZIMBABWE   571
 41       1    Kedar Jadhav INDIA   568
 42       2    Liton Das BANGLADESH   565
 43       3    Sean Williams ZIMBABWE   561
 44       –    Rahmat Shah AFGHANISTAN   559
 45       2    Kusal Mendis SRI LANKA   557
 46       3    Soumya Sarkar BANGLADESH   556
 47       1    Mohammad Hafeez PAKISTAN   554
 48       1    Hardik Pandya INDIA   553
 49       5    Mahmudullah BANGLADESH   552
 50       –    Imad Wasim PAKISTAN   541
 51       1    Kusal Perera SRI LANKA   539
 52       7    Andrew Balbirnie IRELAND   537
 53       –    Sikandar Raza ZIMBABWE   536
 54       3    Evin Lewis WEST INDIES   531
 55       1    Marcus Stoinis AUSTRALIA   525
 56       1    Calum MacLeod SCOTLAND   522
 57       1    Sarfaraz Ahmed PAKISTAN   521
 58       3    Mohammad Shahzad AFGHANISTAN   519
 59       3    Colin de Grandhomme NEW ZEALAND   515
 60       1    Chris Gayle WEST INDIES   512
 61       2    Avishka Fernando SRI LANKA   510
 62       1    Najibullah Zadran AFGHANISTAN   506
 63       1    Marnus Labuschagne AUSTRALIA   506
 64       1    James Neesham NEW ZEALAND   500
 65       2    Heinrich Klaasen SOUTH AFRICA   499
 66       4    Hashmatullah Shahidi AFGHANISTAN   498
 67       1    Shreyas Iyer INDIA   495
 68       1    Shaun Marsh AUSTRALIA   495
 69       9    Kevin O Brien IRELAND   495
 70       4    Mohammad Nabi AFGHANISTAN   494
 71       –    Danushka Gunathilaka SRI LANKA   489
 72       1    Mitchell Marsh AUSTRALIA   486
 73       1    Peter Handscomb AUSTRALIA   483
 74       1    Asghar Afghan AFGHANISTAN   479
 75       1    Richie Berrington SCOTLAND   478
 76       1    Colin Munro NEW ZEALAND   476
 77       5    William Porterfield IRELAND   475
 78       5    Mohammad Usman UNITED ARAB EMIRATES   471
 79       1    Craig Ervine ZIMBABWE   464
 80       1    Lahiru Thirimanne SRI LANKA   463
 81       1    Mitchell Santner NEW ZEALAND   459
 82       1    Thisara Perera SRI LANKA   459
 83       1    Sabbir Rahman BANGLADESH   450
 84       1    Ravindra Jadeja INDIA   447
 85       1    Dhananjaya de Silva SRI LANKA   443
 86       1    Assad Vala PAPUA NEW GUINEA   443
 87       1    Aiden Markram SOUTH AFRICA   442
 88       4    Jason Holder WEST INDIES   442
 89       –    Rovman Powell WEST INDIES   432
 90       6    Rashid Khan AFGHANISTAN   432
 91       2    Andile Phehlukwayo SOUTH AFRICA   426
 92       2    Mohammad Mithun BANGLADESH   417
 93       1    Chris Woakes ENGLAND   417
 94       1    Matthew Cross SCOTLAND   416
 95       1    Sam Billings ENGLAND   415
 96       1    Tony Ura PAPUA NEW GUINEA   415
 97       6    Gulbadin Naib AFGHANISTAN   415
 98       1    Moeen Ali ENGLAND   401
 99       –    Javed Ahmadi AFGHANISTAN   392
 1       –    Dawid Malan ENGLAND   915
 2       –    Babar Azam PAKISTAN   820
 3       –    KL Rahul INDIA   816
 4       –    Aaron Finch AUSTRALIA   808
 5       –    Rassie van der Dussen SOUTH AFRICA   744
 6       –    Glenn Maxwell AUSTRALIA   701
 7       –    Virat Kohli INDIA   697
 8       –    Colin Munro NEW ZEALAND   695
 9       –    Tim Seifert NEW ZEALAND   685
 10       –    Hazratullah Zazai AFGHANISTAN   676
 11       –    Eoin Morgan ENGLAND   662
 12       –    Evin Lewis WEST INDIES   635
 13       –    Quinton de Kock SOUTH AFRICA   635
 14       –    Rohit Sharma INDIA   623
 15       –    Martin Guptill NEW ZEALAND   621
 16       –    Jonny Bairstow ENGLAND   604
 17       –    George Munsey SCOTLAND   583
 18       –    Paul Stirling IRELAND   575
 19       –    Faf du Plessis SOUTH AFRICA   565
 20       –    Shikhar Dhawan INDIA   564
 21       –    Liton Das BANGLADESH   563
 22       –    Jos Buttler ENGLAND   558
 23       –    Kane Williamson NEW ZEALAND   552
 24       –    Reeza Hendricks SOUTH AFRICA   551
 25       –    D Arcy Short AUSTRALIA   547
 26       –    David Warner AUSTRALIA   542
 27       –    Richie Berrington SCOTLAND   542
 28       –    Kusal Perera SRI LANKA   540
 29       –    Jason Roy ENGLAND   531
 30       –    David Miller SOUTH AFRICA   531
 31       –    Mohammad Nabi AFGHANISTAN   529
 32       –    Mahmudullah BANGLADESH   529
 33       –    Mohammad Hafeez PAKISTAN   516
 34       –    Kyle Coetzer SCOTLAND   511
 35       –    Fakhar Zaman PAKISTAN   508
 36       –    Max ODowd NETHERLANDS   508
 37       –    Kevin O Brien IRELAND   508
 38       –    Andrew Balbirnie IRELAND   504
 39       –    Rahmanullah Gurbaz AFGHANISTAN   503
 40       –    Tony Ura PAPUA NEW GUINEA   503
 41       –    Ben Cooper  NETHERLANDS   496
 42       –    Mohammad Naim BANGLADESH   492
 43       –    Soumya Sarkar BANGLADESH   484
 44       –    Najibullah Zadran AFGHANISTAN   483
 45       –    Calum MacLeod SCOTLAND   483
 46       –    Jatinder Singh OMAN   482
 47       –    Steven Smith AUSTRALIA   477
 48       –    Tamim Iqbal BANGLADESH   475
 49       –    Matthew Cross SCOTLAND   474
 50       –    Shakib Al Hasan BANGLADESH   467
 51       –    Mohammad Usman UNITED ARAB EMIRATES   458
 52       –    Tim David SINGAPORE   457
 53       –    Ross Taylor NEW ZEALAND   457
 54       –    Asghar Afghan AFGHANISTAN   451
 55       –    Mushfiqur Rahim BANGLADESH   448
 56       –    Kieron Pollard WEST INDIES   447
 57       –    Kamran Khan QATAR   445
 58       –    Sean Williams ZIMBABWE   443
 59       –    Ravija Sandaruwan KUWAIT   435
 60       –    Joe Root ENGLAND   435
 61       –    Shreyas Iyer INDIA   433
 62       –    Sabbir Rahman BANGLADESH   431
 64       –    Collins Obuya KENYA   429
 65       –    Shoaib Malik PAKISTAN   425
 66       –    Manish Pandey INDIA   416
 67       –    Temba Bavuma SOUTH AFRICA   416
 68       –    Gareth Delany IRELAND   412
 69       –    Thisara Perera SRI LANKA   410
 70       –    Danushka Gunathilaka SRI LANKA   408
 71       –    Nizakat Khan HONG KONG   405
 72       –    Glenn Phillips NEW ZEALAND   400
 73       –    Paras Khadka NEPAL   400
 74       –    Zeeshan Maqsood OMAN   398
 75       –    Ryan ten Doeschate NETHERLANDS   396
 76       –    Rakep Patel KENYA   394
 77       –    Gerhard Erasmus NAMIBIA   390
 78       –    Kusal Mendis SRI LANKA   384
 79       –    Muhammad Tanveer QATAR   382
 80       –    Navneet Dhaliwal CANADA   375
 81       –    Rohan Mustafa UNITED ARAB EMIRATES   370
 82       –    Lendl Simmons WEST INDIES   368
 83       –    Heinrich Klaasen SOUTH AFRICA   366
 84       –    Samiullah Shinwari AFGHANISTAN   366
 85       –    Brendan Taylor ZIMBABWE   364
 86       –    Colin de Grandhomme NEW ZEALAND   361
 87       –    Sarfaraz Ahmed PAKISTAN   361
 88       –    Khawar Ali OMAN   360
 90       –    Nitish Kumar CANADA   356
 91       –    Niroshan Dickwella SRI LANKA   355
 92       –    Stephan Baard NAMIBIA   354
 94       –    Tobias Visee NETHERLANDS   351
 95       –    James Vince ENGLAND   351
 96       –    Aqib Ilyas OMAN   339
 97       –    Shimron Hetmyer WEST INDIES   339
 98       –    Elton Chigumbura ZIMBABWE   338
 99       –    Gary Wilson IRELAND   333
 100       –    Nicholas Pooran WEST INDIES   332

In [50]:
url = "https://www.cricbuzz.com/cricket-stats/icc-rankings/men/bowling"
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

maindiv = soup.find_all("div", {"class":"cb-col cb-col-100 cb-font-14 cb-lst-itm text-center"})
for div in maindiv:
    print(div.text)

 1       –    Pat Cummins AUSTRALIA   908
 2       –    Stuart Broad ENGLAND   839
 3       –    Neil Wagner NEW ZEALAND   825
 4       4    Josh Hazlewood AUSTRALIA   816
 5       1    Tim Southee NEW ZEALAND   811
 6       4    James Anderson ENGLAND   807
 7       1    Kagiso Rabada SOUTH AFRICA   777
 8       1    Ravichandran Ashwin INDIA   760
 9       –    Jasprit Bumrah INDIA   757
 10       1    Jason Holder WEST INDIES   753
 11       6    Mitchell Starc AUSTRALIA   744
 12       1    Kemar Roach WEST INDIES   731
 13       1    Mohammad Abbas PAKISTAN   729
 14       –    Ravindra Jadeja INDIA   726
 15       –    Trent Boult NEW ZEALAND   718
 16       –    Mohammed Shami INDIA   706
 17       1    Ishant Sharma INDIA   700
 18       1    Shannon Gabriel WEST INDIES   676
 19       2    Nathan Lyon AUSTRALIA   668
 20       –    Chris Woakes ENGLAND   653
 21       7    Kyle Jamieson NEW ZEALAND   637
 22       1    Shakib Al Hasan BANGLADESH   637
 23       1    Yasir Shah PAKISTAN   624
 24       2    Umesh Yadav INDIA   621
 25       2    Suranga Lakmal SRI LANKA   593
 26       –    Taijul Islam BANGLADESH   585
 27       2    Ben Stokes ENGLAND   575
 28       1    Mehidy Hasan BANGLADESH   570
 29       –    Keshav Maharaj SOUTH AFRICA   542
 30       –    Moeen Ali ENGLAND   506
 31       1    Lahiru Kumara SRI LANKA   483
 32       2    Roston Chase WEST INDIES   482
 33       2    Dilruwan Perera SRI LANKA   478
 34       1    Shaheen Afridi PAKISTAN   466
 35       –    Colin de Grandhomme NEW ZEALAND   457
 36       14    Lasith Embuldeniya SRI LANKA   452
 37       –    Rashid Khan AFGHANISTAN   449
 38       10    Anrich Nortje SOUTH AFRICA   442
 39       3    Akila Dananjaya SRI LANKA   438
 40       2    Jack Leach ENGLAND   423
 41       1    Sam Curran ENGLAND   411
 42       4    Nayeem Hasan BANGLADESH   410
 43       4    Mark Wood ENGLAND   398
 44       3    Jofra Archer ENGLAND   375
 45       21    Dominic Bess ENGLAND   361
 47       2    Vishwa Fernando SRI LANKA   359
 49       6    Kyle Jarvis ZIMBABWE   347
 50       20    Jubair Hossain BANGLADESH   336
 51       5    Lungi Ngidi SOUTH AFRICA   334
 52       8    Abu Jayed BANGLADESH   331
 53       –    Hasan Ali PAKISTAN   325
 54       7    Sikandar Raza ZIMBABWE   323
 55       9    James Pattinson AUSTRALIA   320
 56       7    Stuart Thompson IRELAND   317
 57       5    Yamin Ahmadzai AFGHANISTAN   309
 58       7    Kasun Rajitha SRI LANKA   300
 59       5    Mitchell Marsh AUSTRALIA   298
 60       5    Alzarri Joseph WEST INDIES   293
 61       4    Imran Khan PAKISTAN   277
 63       5    Ajaz Patel NEW ZEALAND   266
 64       5    Mitchell Santner NEW ZEALAND   260
 65       12    Naseem Shah PAKISTAN   254
 66       –    Shardul Thakur INDIA   249
 67       6    Faheem Ashraf PAKISTAN   244
 68       6    Matt Henry NEW ZEALAND   239
 69       9    Haris Sohail PAKISTAN   235
 70       7    William Somerville NEW ZEALAND   230
 71       7    Amir Hamza AFGHANISTAN   225
 72       7    Rahkeem Cornwall WEST INDIES   225
 73       2    Dasun Shanaka SRI LANKA   219
 74       6    Mahmudullah BANGLADESH   217
 75       6    Mark Adair IRELAND   213
 76       4    Jomel Warrican WEST INDIES   199
 77       4    Sean Williams ZIMBABWE   198
 78       3    Donald Tiripano ZIMBABWE   193
 79       5    Shadab Khan PAKISTAN   192
 80       4    Dhananjaya de Silva SRI LANKA   186
 81       3    Beuran Hendricks SOUTH AFRICA   181
 82       –    Dushmantha Chameera SRI LANKA   180
 83       3    Joe Root ENGLAND   176
 84       5    Dane Piedt SOUTH AFRICA   163
 85       3    Boyd Rankin IRELAND   153
 86       5    Dwaine Pretorius SOUTH AFRICA   151
 87       3    Shahbaz Nadeem INDIA   140
 88       3    Craig Overton ENGLAND   138
 89       3    Victor Nyauchi ZIMBABWE   137
 90       3    Rubel Hossain BANGLADESH   129
 91       3    Angelo Mathews SRI LANKA   126
 92       9    Marnus Labuschagne AUSTRALIA   122
 93       4    Kane Williamson NEW ZEALAND   118
 94       4    Zahir Khan AFGHANISTAN   112
 95       4    Kraigg Brathwaite WEST INDIES   112
 96       4    Dean Elgar SOUTH AFRICA   106
 97       4    Todd Astle NEW ZEALAND   103
 98       –    Washington Sundar INDIA   97
 99       –    Navdeep Saini INDIA   92
 100       6    Olly Stone ENGLAND   91
 1       –    Trent Boult NEW ZEALAND   722
 2       –    Mujeeb Ur Rahman AFGHANISTAN   708
 3       –    Jasprit Bumrah INDIA   700
 4       9    Mehidy Hasan BANGLADESH   694
 5       1    Chris Woakes ENGLAND   675
 6       1    Kagiso Rabada SOUTH AFRICA   665
 7       1    Josh Hazlewood AUSTRALIA   660
 8       11    Mustafizur Rahman BANGLADESH   658
 9       2    Mohammad Amir PAKISTAN   647
 10       2    Pat Cummins AUSTRALIA   646
 11       2    Matt Henry NEW ZEALAND   641
 12       2    Jofra Archer ENGLAND   637
 13       15    Shakib Al Hasan BANGLADESH   629
 14       2    Lockie Ferguson NEW ZEALAND   628
 15       4    Rashid Khan AFGHANISTAN   626
 16       2    Adam Zampa AUSTRALIA   623
 17       2    Shaheen Afridi PAKISTAN   621
 18       2    Lungi Ngidi SOUTH AFRICA   619
 19       2    Akila Dananjaya SRI LANKA   612
 20       2    Mitchell Starc AUSTRALIA   611
 21       –    Kuldeep Yadav INDIA   598
 22       2    Mohammad Nabi AFGHANISTAN   596
 23       1    Yuzvendra Chahal INDIA   593
 24       1    Mark Wood ENGLAND   590
 25       1    Bhuvneshwar Kumar INDIA   589
 26       1    Mohammed Shami INDIA   583
 27       –    Ravindra Jadeja INDIA   567
 28       2    Sheldon Cottrell WEST INDIES   566
 29       –    Liam Plunkett ENGLAND   554
 30       –    Shadab Khan PAKISTAN   552
 31       –    Adil Rashid ENGLAND   548
 32       –    Mitchell Santner NEW ZEALAND   547
 33       2    Andy McBrine IRELAND   536
 34       11    Alzarri Joseph WEST INDIES   534
 35       1    Ahmed Raza UNITED ARAB EMIRATES   531
 36       3    Dwaine Pretorius SOUTH AFRICA   523
 37       3    Andile Phehlukwayo SOUTH AFRICA   520
 38       1    Colin de Grandhomme NEW ZEALAND   516
 39       1    Tim Southee NEW ZEALAND   507
 40       1    Ish Sodhi NEW ZEALAND   504
 41       1    Imad Wasim PAKISTAN   502
 42       1    Nuwan Pradeep SRI LANKA   500
 43       3    Mohammad Saifuddin BANGLADESH   496
 44       –    Usman Shinwari PAKISTAN   496
 45       3    Mashrafe Mortaza BANGLADESH   491
 46       1    Tendai Chatara ZIMBABWE   490
 47       1    Jhye Richardson AUSTRALIA   488
 48       1    Hasan Ali PAKISTAN   488
 49       1    Mark Watt SCOTLAND   486
 50       7    Boyd Rankin IRELAND   485
 51       –    Tabraiz Shamsi SOUTH AFRICA   484
 52       –    Moeen Ali ENGLAND   484
 53       –    David Willey ENGLAND   482
 54       –    Safyaan Sharif SCOTLAND   481
 55       6    Rohan Mustafa UNITED ARAB EMIRATES   477
 56       –    Nathan Coulter-Nile AUSTRALIA   470
 57       –    Chris Morris SOUTH AFRICA   469
 58       3    Jason Holder WEST INDIES   468
 59       1    Suranga Lakmal SRI LANKA   462
 60       1    Nathan Lyon AUSTRALIA   462
 61       1    Wahab Riaz PAKISTAN   461
 62       –    Kyle Jarvis ZIMBABWE   458
 63       –    Junaid Khan PAKISTAN   456
 64       31    Simi Singh IRELAND   448
 65       –    Sikandar Raza ZIMBABWE   443
 66       2    Kemar Roach WEST INDIES   438
 67       1    Faheem Ashraf PAKISTAN   436
 68       –    Josh Davey SCOTLAND   431
 69       1    Hardik Pandya INDIA   427
 70       3    Dawlat Zadran AFGHANISTAN   427
 71       –    Sean Williams ZIMBABWE   426
 72       1    Yasir Shah PAKISTAN   425
 73       1    Ben Stokes ENGLAND   423
 74       1    Kane Richardson AUSTRALIA   422
 75       6    Aftab Alam AFGHANISTAN   422
 76       3    Jason Behrendorff AUSTRALIA   410
 77       1    Rubel Hossain BANGLADESH   410
 78       2    Thisara Perera SRI LANKA   409
 79       1    George Dockrell IRELAND   401
 80       3    Gulbadin Naib AFGHANISTAN   399
 81       9    Barry McCarthy IRELAND   397
 82       1    Mitchell Marsh AUSTRALIA   395
 83       2    Ashley Nurse WEST INDIES   394
 84       1    Dhananjaya de Silva SRI LANKA   392
 85       1    James Neesham NEW ZEALAND   391
 86       4    Taijul Islam BANGLADESH   391
 87       –    Tom Curran ENGLAND   387
 88       4    Hamid Hassan AFGHANISTAN   387
 89       1    Blessing Muzarabani ZIMBABWE   387
 90       1    Marcus Stoinis AUSTRALIA   383
 91       1    Ashton Agar AUSTRALIA   377
 92       –    Donald Tiripano ZIMBABWE   373
 93       –    Bradley Wheal SCOTLAND   372
 94       2    Wanindu Hasaranga SRI LANKA   370
 95       1    Oshane Thomas WEST INDIES   366
 96       1    Alasdair Evans SCOTLAND   366
 97       2    Assad Vala PAPUA NEW GUINEA   363
 98       –    Carlos Brathwaite WEST INDIES   359
 99       1    Roston Chase WEST INDIES   358
 100       –    Taskin Ahmed BANGLADESH   355
 1       –    Rashid Khan AFGHANISTAN   736
 2       –    Mujeeb Ur Rahman AFGHANISTAN   730
 3       –    Adil Rashid ENGLAND   700
 4       –    Adam Zampa AUSTRALIA   685
 5       –    Tabraiz Shamsi SOUTH AFRICA   680
 6       –    Ashton Agar AUSTRALIA   664
 7       –    Tim Southee NEW ZEALAND   636
 8       –    Sheldon Cottrell WEST INDIES   634
 9       –    Mitchell Santner NEW ZEALAND   628
 10       –    Chris Jordan ENGLAND   618
 11       –    Imad Wasim PAKISTAN   616
 12       –    Washington Sundar INDIA   614
 13       –    Faheem Ashraf PAKISTAN   609
 14       –    Kane Richardson AUSTRALIA   603
 15       –    Ish Sodhi NEW ZEALAND   601
 16       –    Shaheen Afridi PAKISTAN   597
 17       –    Shadab Khan PAKISTAN   595
 18       –    Mark Watt SCOTLAND   595
 19       –    Jasprit Bumrah INDIA   593
 20       –    Andile Phehlukwayo SOUTH AFRICA   588
 21       –    Shakib Al Hasan BANGLADESH   576
 22       –    Lakshan Rangika SRI LANKA   562
 23       –    Mitchell Starc AUSTRALIA   559
 24       –    Mohammad Nabi AFGHANISTAN   557
 25       –    Yuzvendra Chahal INDIA   550
 26       –    Pat Cummins AUSTRALIA   545
 27       –    Deepak Chahar INDIA   541
 28       –    Lasith Malinga SRI LANKA   540
 29       –    Alasdair Evans SCOTLAND   529
 30       –    Tom Curran ENGLAND   522
 31       –    Bilal Khan OMAN   521
 32       –    Mustafizur Rahman BANGLADESH   521
 33       –    Billy Stanlake AUSTRALIA   514
 34       –    Roelof van der Merwe NETHERLANDS   512
 35       –    Paul van Meekeren NETHERLANDS   503
 36       –    Karim Janat AFGHANISTAN   499
 37       –    Brandon Glover NETHERLANDS   497
 38       –    Mark Adair IRELAND   497
 39       –    Lockie Ferguson NEW ZEALAND   486
 40       –    Shardul Thakur INDIA   485
 41       –    Oshane Thomas WEST INDIES   479
 42       –    Akila Dananjaya SRI LANKA   479
 43       –    Al-Amin Hossain BANGLADESH   472
 44       –    Lungi Ngidi SOUTH AFRICA   467
 45       –    Andrew Tye AUSTRALIA   466
 46       –    Safyaan Sharif SCOTLAND   466
 47       –    Ahmed Raza UNITED ARAB EMIRATES   463
 48       –    Kesrick Williams WEST INDIES   461
 49       –    Kuldeep Yadav INDIA   459
 50       –    Bernard Scholtz NAMIBIA   457
 51       –    David Willey ENGLAND   453
 52       –    Wanindu Hasaranga SRI LANKA   448
 53       –    Bhuvneshwar Kumar INDIA   448
 54       –    Pieter Seelaar NETHERLANDS   445
 55       –    Shem Obado KENYA   444
 56       –    Khawar Ali OMAN   442
 57       –    Keemo Paul WEST INDIES   439
 58       –    Boyd Rankin IRELAND   439
 59       –    Norman Vanua PAPUA NEW GUINEA   437
 60       –    Mohammad Naveed UNITED ARAB EMIRATES   436
 61       –    Mohammad Amir PAKISTAN   435
 62       –    Timm van der Gugten NETHERLANDS   430
 63       –    Sean Williams ZIMBABWE   429
 64       –    Krunal Pandya INDIA   426
 65       –    Fred Klaassen NETHERLANDS   423
 66       –    Kagiso Rabada SOUTH AFRICA   423
 68       –    Mohammad Nadeem OMAN   420
 69       –    Isuru Udana SRI LANKA   419
 70       –    Gareth Delany IRELAND   413
 71       –    Rohan Mustafa UNITED ARAB EMIRATES   412
 73       –    Tendai Chisoro ZIMBABWE   408
 74       –    Trent Boult NEW ZEALAND   407
 75       –    Navdeep Saini INDIA   405
 76       –    Sultan Ahmed UNITED ARAB EMIRATES   405
 77       –    Beuran Hendricks SOUTH AFRICA   404
 78       –    Jofra Archer ENGLAND   403
 79       –    Josh Davey SCOTLAND   403
 80       –    Sandeep Lamichhane NEPAL   389
 81       –    Ravindra Jadeja INDIA   389
 82       –    Carlos Brathwaite WEST INDIES   387
 83       –    Zahoor Khan UNITED ARAB EMIRATES   386
 84       –    Fabian Allen WEST INDIES   383
 85       –    Ben Stokes ENGLAND   383
 86       –    Shafiul Islam BANGLADESH   382
 87       –    Charles Amini PAPUA NEW GUINEA   381
 88       –    Nuwan Pradeep SRI LANKA   381
 89       –    Mohammad Saifuddin BANGLADESH   379
 90       –    Sunil Narine WEST INDIES   376
 91       –    Gulbadin Naib AFGHANISTAN   374
 92       –    Hamza Tahir SCOTLAND   373
 94       –    Ehsan Khan HONG KONG   371
 95       –    Mark Wood ENGLAND   370
 96       –    Hasan Ali PAKISTAN   368
 97       –    Nosaina Pokana PAPUA NEW GUINEA   367
 98       –    Kasun Rajitha SRI LANKA   366
 99       –    George Dockrell IRELAND   364
 100       –    Jason Holder WEST INDIES   363

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’:  \
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.\
ii) Top 10 women’s ODI players along with the records of their team and rating. \
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [51]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

maindiv = soup.find_all("div", {"class": "rankings-block__container full rankings-table"})
for div in maindiv:
    print(div.text[:450])

Pos

Team
T


Matches
M


Points
P


Rating
R





1


Australia
AUS

15
2,436

                            162





2


India
IND

15
1,812
121


3


England
ENG

14
1,670
119


4


South Africa
SA

19
2,090
110


5


New Zealand
NZ

15
1,384
92


6


West Indies
WI

12
1,025
85


7


Pakistan
PAK

15
1,101
73


8


Bangladesh
BAN

5
306
61


9


Sri Lanka
SL

11
519
47


10


Ireland
IRE

2
25
13

In [52]:
url = "https://www.cricbuzz.com/cricket-stats/icc-rankings/women"
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

maindiv = soup.find_all("div", {"class":"cb-col cb-col-100 cb-font-14 cb-lst-itm text-center"})
for div in maindiv:
    print(div.text)

 1       –    Meg Lanning AUSTRALIA   749
 2       –    Stafanie Taylor WEST INDIES   746
 3       –    Alyssa Healy AUSTRALIA   741
 4       –    Smriti Mandhana INDIA   732
 5       –    Amy Satterthwaite NEW ZEALAND   723
 6       –    Tammy Beaumont ENGLAND   716
 7       2    Laura Wolvaardt SOUTH AFRICA   691
 8       1    Ellyse Perry AUSTRALIA   691
 9       1    Mithali Raj INDIA   687
 10       2    Lizelle Lee SOUTH AFRICA   681
 11       –    Natalie Sciver ENGLAND   670
 12       –    Chamari Athapaththu SRI LANKA   667
 13       –    Rachael Haynes AUSTRALIA   655
 14       –    Suzie Bates NEW ZEALAND   651
 15       –    Sophie Devine NEW ZEALAND   649
 16       –    Heather Knight ENGLAND   641
 17       –    Beth Mooney AUSTRALIA   603
 18       2    Harmanpreet Kaur INDIA   594
 19       –    Mignon du Preez SOUTH AFRICA   569
 20       2    Deepti Sharma INDIA   562
 21       3    Nahida Khan PAKISTAN   560
 22       4    Marizanne Kapp SOUTH AFRICA   558
 23       2    Dane van Niekerk SOUTH AFRICA   551
 24       1    Punam Raut INDIA   543
 25       1    Javeria Khan PAKISTAN   536
 26       3    Bismah Maroof PAKISTAN   520
 27       1    Amy Ellen Jones ENGLAND   511
 28       1    Nicole Bolton AUSTRALIA   484
 29       2    Chloe Tryon SOUTH AFRICA   484
 30       –    Katie Perkins NEW ZEALAND   466
 31       –    Hayley Matthews WEST INDIES   461
 32       –    Danielle Wyatt ENGLAND   448
 33       –    Fargana Hoque BANGLADESH   445
 34       1    Rumana Ahmed BANGLADESH   437
 35       1    Sune Luus SOUTH AFRICA   425
 36       15    Aliya Riaz PAKISTAN   410
 37       1    Jemimah Rodrigues INDIA   409
 38       1    Ashleigh Gardner AUSTRALIA   399
 39       1    Katey Martin NEW ZEALAND   396
 40       1    Trisha Chetty SOUTH AFRICA   389
 41       1    Jess Jonassen AUSTRALIA   375
 42       1    Shikha Pandey INDIA   371
 43       1    Katherine Brunt ENGLAND   368
 44       11    Nida Dar PAKISTAN   360
 45       2    Harshitha Madavi SRI LANKA   353
 46       2    Fran Wilson ENGLAND   352
 47       2    Jhulan Goswami INDIA   325
 48       2    Rachel Priest NEW ZEALAND   322
 49       2    Maddy Green NEW ZEALAND   320
 50       2    Shemaine Campbelle WEST INDIES   319
 51       2    Dilani Manodara SRI LANKA   319
 52       2    Nigar Sultana BANGLADESH   317
 53       15    Omaima Sohail PAKISTAN   310
 54       2    Chedean Nation WEST INDIES   292
 55       2    Kyshona Knight WEST INDIES   281
 56       –    Kycia Knight WEST INDIES   276
 57       1    Priya Punia INDIA   269
 58       1    Amelia Kerr NEW ZEALAND   269
 59       1    Taniya Bhatia INDIA   266
 60       6    Sidra Ameen PAKISTAN   264
 61       –    Nilakshi de Silva SRI LANKA   261
 62       5    Andrie Steyn SOUTH AFRICA   259
 63       1    Sheneta Grimmond WEST INDIES   252
 64       –    Salma Khatun BANGLADESH   244
 65       –    Leigh Kasperek NEW ZEALAND   240
 66       –    Anya Shrubsole ENGLAND   239
 67       –    Nicola Carey AUSTRALIA   236
 68       5    Poonam Yadav INDIA   233
 69       –    Yasoda Mendis SRI LANKA   226
 70       –    Natasha McLean WEST INDIES   224
 71       –    Sharmin Akhter BANGLADESH   221
 72       7    Lara Goodall SOUTH AFRICA   215
 73       1    Anushka Sanjeewani SRI LANKA   211
 74       2    Rajeshwari Gayakwad INDIA   210
 75       2    Kate Cross ENGLAND   208
 76       2    Inoka Ranaweera SRI LANKA   205
 77       2    Stacy-Ann King WEST INDIES   201
 78       1    Megan Schutt AUSTRALIA   195
 79       1    Oshadi Ranasinghe SRI LANKA   195
 80       2    Nashra Sandhu PAKISTAN   192
 81       1    Hayley Jensen NEW ZEALAND   191
 82       1    Chinelle Henry WEST INDIES   188
 83       –    Shamilia Connell WEST INDIES   186
 84       5    Shabnim Ismail SOUTH AFRICA   185
 85       1    Lea Tahuhu NEW ZEALAND   184
 86       1    Sanjida Islam BANGLADESH   181
 87       1    Sophie Ecclestone ENGLAND   179
 89       1    Afy Fletcher WEST INDIES   175
 90       –    Diana Baig PAKISTAN   170
 92       2    Panna Ghosh BANGLADESH   166
 93       2    Holly Huddleston NEW ZEALAND   164
 94       2    Georgia Wareham AUSTRALIA   163
 95       2    Hannah Rowe NEW ZEALAND   162
 96       2    Ekta Bisht INDIA   162
 97       2    Ama Kanchana SRI LANKA   161
 98       2    Anisa Mohammed WEST INDIES   161
 99       2    Ayabonga Khaka SOUTH AFRICA   153
 100       2    Britney Cooper WEST INDIES   149
 1       –    Beth Mooney AUSTRALIA   748
 2       –    Suzie Bates NEW ZEALAND   745
 3       –    Shafali Verma INDIA   744
 4       –    Sophie Devine NEW ZEALAND   738
 5       –    Meg Lanning AUSTRALIA   712
 6       –    Alyssa Healy AUSTRALIA   705
 7       –    Smriti Mandhana INDIA   693
 8       –    Stafanie Taylor WEST INDIES   658
 9       –    Jemimah Rodrigues INDIA   643
 10       –    Natalie Sciver ENGLAND   629
 11       –    Lizelle Lee SOUTH AFRICA   618
 12       –    Harmanpreet Kaur INDIA   611
 13       –    Sarah Bryce SCOTLAND   604
 14       –    Chamari Athapaththu SRI LANKA   598
 15       –    Deandra Dottin WEST INDIES   595
 16       –    Heather Knight ENGLAND   589
 17       –    Bismah Maroof PAKISTAN   588
 18       –    Ashleigh Gardner AUSTRALIA   578
 19       –    Javeria Khan PAKISTAN   565
 20       –    Kathryn Bryce SCOTLAND   557
 21       –    Danielle Wyatt ENGLAND   548
 22       –    Nattakan Chantam THAILAND   546
 23       –    Mignon du Preez SOUTH AFRICA   536
 24       –    Tammy Beaumont ENGLAND   530
 25       –    Amy Ellen Jones ENGLAND   527
 26       –    Nigar Sultana BANGLADESH   526
 27       –    Dane van Niekerk SOUTH AFRICA   519
 28       –    Ellyse Perry AUSTRALIA   507
 29       –    Naruemol Chaiwai THAILAND   496
 30       –    Brenda Tau PAPUA NEW GUINEA   494
 31       –    Laura Wolvaardt SOUTH AFRICA   494
 32       –    Kim Garth IRELAND   494
 33       –    Hayley Matthews WEST INDIES   490
 34       –    Gaby Lewis IRELAND   483
 35       –    Amy Satterthwaite NEW ZEALAND   478
 36       –    Modester Mupachikwa ZIMBABWE   462
 37       –    Chloe Tryon SOUTH AFRICA   453
 38       –    Fargana Hoque BANGLADESH   440
 39       –    Katey Martin NEW ZEALAND   437
 40       –    Salma Khatun BANGLADESH   432
 41       –    Laura Delany IRELAND   424
 42       –    Deepti Sharma INDIA   422
 43       –    Sterre Kalis NETHERLANDS   420
 44       –    Rachael Haynes AUSTRALIA   420
 45       –    Nannapat Koncharoenkai THAILAND   417
 46       –    Sune Luus SOUTH AFRICA   417
 47       –    Marizanne Kapp SOUTH AFRICA   417
 48       –    Aliya Riaz PAKISTAN   409
 49       –    Nida Dar PAKISTAN   408
 50       –    Regina Lili'i SAMOA   396
 51       –    Nattaya Boochatham THAILAND   384
 52       –    Veda Krishnamurthy INDIA   378
 53       –    Lauren Winfield ENGLAND   367
 54       –    Fatuma Kibasu TANZANIA   363
 55       –    Chipo Mugeri ZIMBABWE   360
 56       –    Rumana Ahmed BANGLADESH   354
 57       –    Immaculate Nakisuuyi UGANDA   348
 58       –    GK Diviya SINGAPORE   339
 59       –    Yulia Anggraeni INDONESIA   336
 60       –    Sharne Mayers ZIMBABWE   335
 61       –    Ayasha Rahman BANGLADESH   334
 62       –    Adri van der Merwe NAMIBIA   333
 63       –    Shemaine Campbelle WEST INDIES   330
 64       –    Omaima Sohail PAKISTAN   330
 65       –    Shamima Sultana BANGLADESH   327
 66       –    Jess Jonassen AUSTRALIA   323
 67       –    Natasha McLean WEST INDIES   316
 68       –    Mary-Anne Musonda ZIMBABWE   314
 70       –    Nadine de Klerk SOUTH AFRICA   303
 71       –    Rachel Priest NEW ZEALAND   298
 72       –    Dilani Manodara SRI LANKA   294
 73       –    Chanida Sutthiruang THAILAND   289
 74       –    Katherine Brunt ENGLAND   289
 75       –    Mary Waldron IRELAND   288
 76       –    Anushka Sanjeewani SRI LANKA   286
 77       –    Eimear Richardson IRELAND   286
 78       –    Chedean Nation WEST INDIES   285
 79       –    Sanjida Islam BANGLADESH   278
 80       –    Yasoda Mendis SRI LANKA   278
 81       –    Murshida Khatun BANGLADESH   275
 83       –    Nahida Khan PAKISTAN   271
 84       –    Kaia Arua PAPUA NEW GUINEA   265
 85       –    Sita Rana Magar NEPAL   261
 86       –    Kycia Knight WEST INDIES   259
 87       –    Trisha Chetty SOUTH AFRICA   259
 88       –    Fran Wilson ENGLAND   254
 89       –    Tazmin Brits SOUTH AFRICA   253
 90       –    Maddy Green NEW ZEALAND   250
 91       –    Katie Perkins NEW ZEALAND   247
 92       –    Anuja Patil INDIA   245
 93       –    Denise van Deventer NETHERLANDS   242
 94       –    Rita Musamali UGANDA   238
 95       –    Tanya Ruma PAPUA NEW GUINEA   237
 96       –    Stacy-Ann King WEST INDIES   236
 97       –    Ni Putu Ayu Nanda Sakarini INDONESIA   232
 98       –    Fahima Khatun BANGLADESH   232
 99       –    Amelia Kerr NEW ZEALAND   230

In [53]:
url = "https://www.cricbuzz.com/cricket-stats/icc-rankings/women/all-rounder"
r = requests.get(url)
r.content
soup = BeautifulSoup(r.content, "html.parser")

maindiv = soup.find_all("div", {"class":"cb-col cb-col-100 cb-font-14 cb-lst-itm text-center"})
for div in maindiv:
    print(div.text)

 1       –    Ellyse Perry AUSTRALIA   460
 2       –    Stafanie Taylor WEST INDIES   410
 3       –    Marizanne Kapp SOUTH AFRICA   396
 4       –    Deepti Sharma INDIA   359
 5       1    Jess Jonassen AUSTRALIA   301
 6       1    Dane van Niekerk SOUTH AFRICA   297
 7       –    Sophie Devine NEW ZEALAND   289
 8       –    Natalie Sciver ENGLAND   273
 9       –    Shikha Pandey INDIA   250
 10       –    Katherine Brunt ENGLAND   232
 1       –    Sophie Devine NEW ZEALAND   415
 2       –    Natalie Sciver ENGLAND   350
 3       –    Ellyse Perry AUSTRALIA   321
 4       –    Deepti Sharma INDIA   302
 5       –    Stafanie Taylor WEST INDIES   302
 6       –    Dane van Niekerk SOUTH AFRICA   297
 7       –    Chamari Athapaththu SRI LANKA   265
 8       –    Salma Khatun BANGLADESH   263
 9       –    Hayley Matthews WEST INDIES   260
 10       –    Nida Dar PAKISTAN   241

# Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco.

In [54]:
site = requests.get("http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")
soup = BeautifulSoup(site.content, 'html.parser')
result = soup.find(id="seven-day-forecast")
forecast = result.find_all(class_="tombstone-container")
today = forecast[0]
print(today.prettify())

<div class="tombstone-container">
 <p class="period-name">
  Overnight
  <br/>
  <br/>
 </p>
 <p>
  <img alt="Overnight: A 20 percent chance of rain.  Mostly clear, with a low around 44. Light west northwest wind. " class="forecast-icon" src="newimages/medium/nra20.png" title="Overnight: A 20 percent chance of rain.  Mostly clear, with a low around 44. Light west northwest wind. "/>
 </p>
 <p class="short-desc">
  Slight Chance
  <br/>
  Rain
 </p>
 <p class="temp temp-low">
  Low: 44 °F
 </p>
</div>

In [55]:
period = today.find(class_='period-name').get_text()
description = today.find(class_='short-desc').get_text()
temperature = today.find(class_='temp').get_text()
print(period)
print(description)
print(temperature)

Overnight
Slight ChanceRain
Low: 44 °F

In [56]:
days_tags = result.select(".tombstone-container .period-name")
days = [pt.get_text() for pt in days_tags]
days

['Overnight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight']

In [57]:
short_descs = [sd.get_text() for sd in result.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in result.select(".tombstone-container .temp")]
descs = [d["title"] for d in result.select(".tombstone-container img")]
print(short_descs)
print(temps)
print(descs)

['Slight ChanceRain', 'Chance Rain', 'Mostly Clear', 'Sunny', 'Clear', 'Sunny', 'Mostly Clear', 'Sunny', 'Mostly Clear']
['Low: 44 °F', 'High: 56 °F', 'Low: 43 °F', 'High: 58 °F', 'Low: 44 °F', 'High: 61 °F', 'Low: 44 °F', 'High: 62 °F', 'Low: 45 °F']
['Overnight: A 20 percent chance of rain.  Mostly clear, with a low around 44. Light west northwest wind. ', 'Wednesday: A 30 percent chance of rain, mainly after 10am.  Mostly sunny, with a high near 56. Light west southwest wind becoming west 6 to 11 mph in the morning.  New precipitation amounts of less than a tenth of an inch possible. ', 'Wednesday Night: Mostly clear, with a low around 43. Light and variable wind becoming north northeast 5 to 9 mph in the evening. ', 'Thursday: Sunny, with a high near 58. Calm wind becoming north northwest around 5 mph in the afternoon. ', 'Thursday Night: Clear, with a low around 44. Calm wind. ', 'Friday: Sunny, with a high near 61.', 'Friday Night: Mostly clear, with a low around 44.', 'Saturday: Sunny, with a high near 62.', 'Saturday Night: Mostly clear, with a low around 45.']

In [58]:
import pandas as pd
weather = pd.DataFrame({
        "period": days,
         "short_desc": short_descs,
         "temp": temps,
         "desc":descs
    })
weather

,period,short_desc,temp,desc
0,Overnight,Slight ChanceRain,Low: 44 °F,Overnight: A 20 percent chance of rain. Mostl...
1,Wednesday,Chance Rain,High: 56 °F,"Wednesday: A 30 percent chance of rain, mainly..."
2,WednesdayNight,Mostly Clear,Low: 43 °F,"Wednesday Night: Mostly clear, with a low arou..."
3,Thursday,Sunny,High: 58 °F,"Thursday: Sunny, with a high near 58. Calm win..."
4,ThursdayNight,Clear,Low: 44 °F,"Thursday Night: Clear, with a low around 44. C..."
5,Friday,Sunny,High: 61 °F,"Friday: Sunny, with a high near 61."
6,FridayNight,Mostly Clear,Low: 44 °F,"Friday Night: Mostly clear, with a low around 44."
7,Saturday,Sunny,High: 62 °F,"Saturday: Sunny, with a high near 62."
8,SaturdayNight,Mostly Clear,Low: 45 °F,"Saturday Night: Mostly clear, with a low aroun..."

# Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’.

In [59]:
url = requests.get('https://www.monster.com/jobs/search/?q=Software-Developer')
soup1 = BeautifulSoup(url.content, 'html.parser')
result = soup1.find(id='ResultsContainer')
#print(result.prettify())

In [60]:
job_elems = result.find_all('section', class_='card-content')
#for job_elem in job_elems:
    #print(job_elem, end='\n'*2)

In [61]:
for job_elem in job_elems:
    title_elem = job_elem.find('h2', class_='title')
    company_elem = job_elem.find('div', class_='company')
    location_elem = job_elem.find('div', class_='location')
    if None in (title_elem, company_elem, location_elem):
        continue
    print(title_elem.text.strip())
    print(company_elem.text.strip())
    print(location_elem.text.strip())
    print()

Software Developer - Journeyman
Bowhead / UIC Technical Services
Aberdeen Proving Ground, MD

Software Developer IV
Mindlance Inc


Software Systems Developer*
Odyssey Systems Consulting Group
Lexington, MA

Senior Software Developer (Unity Game Engine)
CyberCoders
Newton, MA

Software Developer, Focused on Shared Services [Cleveland or Akron, OH]
Cohen & Company
Cleveland, OH

Senior Software Developer
Scientia LLC
Bloomington, IN

Software Developer
Mahantech
Charleston, WV

Software Engineer/Developer
Kratos Defense & Security Solutions
Huntsville, AL

Analytics Software Developer
IBM
Armonk, NY

Software Developer III
Kelly Mitchell
Chicago, IL

Solutions Architect Cum Tech Lead (Based In Cambodia)
Fantastic Gaming
Kampong Rou District

Software Developer - Salesforce
Pyramid Consulting, Inc
Palo Alto, CA

Software Developer
TEKsystems
Niceville, FL

Sr. Java Software Developer
Loginsoft Consulting LLC
Ashburn, VA

Senior Software Developer - Remote - $140K
Nigel Frank International
Columbus, OH

Senior Software Developer
LRS
Ft Worth, TX

Senior Software Developer
The Nielsen Company LLC
Oldsmar, FL

Software Developer
American General Life Insurance Company
Houston, TX

Software Developer
Techaffinity Consulting Inc
Tampa, FL

Software Developer
Aclat Inc.
Arlington Heights, IL

Software Developer
Boston Data Pro LLC
Westborough, MA

Software Developer
Alpha Net Consulting LLC
Santa Clara , CA

Windows Software Developer
Angel Medical Systems
Eatontown, NJ

Software Developer
DCSC, Inc.
Saint Louis, MO

Software Developer
Luxoft USA Inc
Middletown, NJ

Software Developer - Java
ULINE
Waukegan, IL

# Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’.

In [62]:
url1 = requests.get('https://www.monster.com/jobs/search/?q=Data-Scientist')
soup2 = BeautifulSoup(url1.content, 'html.parser')
page = soup2.find(id='ResultsContainer')
#print(page.prettify())

In [63]:
job = page.find_all('section', class_='card-content')
#for i in job:
    #print(i, end='\n'*2)

In [64]:
for i in job:
    title = i.find('h2', class_='title')
    company = i.find('div', class_='company')
    location = i.find('div', class_='location')
    if None in (title, company, location):
        continue
    print(title.text.strip())
    print(company.text.strip())
    print(location.text.strip())
    print()

Data Scientist
Fidelity TalentSource
Boston, MA

Senior Data Scientist
CyberCoders
Buffalo Grove, IL

Data Scientist
Company Confidential


IT Data Scientist I
Chewy.com
Boston, MA

Senior Data Scientist / Engineer
AMI Group, LLC
Chicago, IL

Data Scientist (HBQ) - Active Top Secret Clearance Required*
Odyssey Systems Consulting Group
Colorado Springs, CO

Data Scientist
LRS
Maryland Heights, MO

Principal Data Scientist
Elevate Credit Service, LLC
Addison, TX

Sr Data Scientist
Citizens Financial Group
Boston, MA

Senior Data Scientist
Fuelcomm, Inc dba Stackline, Inc.
Seattle, WA

Data Scientist Apprentice
IBM
New York, NY

Data Scientist
Easy Fit Labs LLC
Orem, UT

Data Scientist
Whirlpool
Lansing, MI

Data Scientist
DCS Corp
Hampton, VA

Data Scientist/Chemometrician
Honeywell
Richardson, TX

Data Scientist
Kelly Mitchell
St Louis, MO

Integrative Data Scientist
University of Maine
ORONO, ME

Senior Data Scientist Credit Modeling
PenFed Credit Union
McLean, VA

Data Scientist
Pyramid Consulting, Inc
Dallas, TX

Sr. Data Scientist
Sally Beauty
Denton, TX

Data Scientist - Shipboard IT
Naval Nuclear Laboratory
Niskayuna, NY

Senior Data Scientist
Quicken Loans, LLC
Detroit, MI

Data Scientist (GS 12 Equivalent)
Credence Management Solutions, LLC
Washington, DC

Data Scientist
Plateau Software Inc
O'Fallon, IL

Research Data Scientist
Texas A&M Transportation Institute
Austin, TX